<section class="demo demo__header">
  <h3 class="demo__title">Angular</h3>
</section>

<section class="demo">
  <p class="inline-info">
    This portfolio is made with <span class="timeline__highlight">Angular(v5), Node.js</span>.<br>
  </p><br>

  <h3 class="demo__subtitle">Code Repo</h3> 
  <p class="inline-info">
    Please do have a look at angular code for this website:
    <a class="demo__code-repo button button--link" href="https://github.com/jassi5887/portfolio" target="_blank">
      <b>Github: Portfolio</b>
    </a>
  </p><br>
</section>

<section class="demo">
  <h3 class="demo__title">Crickcard</h3> 
  <p class="inline-info">
    This is a work in progress but Design and Authentication is complete.<br>
    <b>Authentication</b> is build with <b>Node.js & mongodb</b> and SMS OTP provider is 
    <b><a href="https://2factor.in" target="_blank">2factor</a></b>
  </p><br>
  <p class="underline">checkout the website at <a class="button button--link" href="https://crickcard-ui.herokuapp.com/login" target="_blank"><b>crickcard</b></a></p><br>
  <p class="inline-info">
    skills to lookout for: <span class="timeline__highlight">design, html, css/scss, angular</span>
  </p><br>
  <h3 class="demo__subtitle">Code Repo</h3> 
  <p class="inline-info">
    Please do have a look at angular code for this website:
    <a class="demo__code-repo button button--link" href="https://github.com/jassi5887/crickcard" target="_blank">
      <b>Github: Crickcard UI</b>
    </a>
  </p><br>
</section>

<section class="demo">
  <h3 class="demo__title">Finding Falcone (Geektrust Coding Challenge)</h3> 
  <p class="inline-info">
    This was done as a part of Geektrust.in frontend coding challenge. For problem statement
    please checkout <a class="demo__code-repo button button--link" href="https://www.geektrust.in/coding-problem/frontend/space" target="_blank">
      <b>Geektrust: Frontend Challenge</b>
    </a>
  </p><br>
  <p class="underline">checkout the solution at <a class="button button--link" href="https://falcone-geektrust.herokuapp.com/" target="_blank"><b>Finding Falcone</b></a></p><br>
  <p class="inline-info">
    skills to lookout for: <span class="timeline__highlight">html, css, angular</span>
  </p><br>
  <h3 class="demo__subtitle">Code Repo</h3> 
  <p class="inline-info">
    Please do have a look at angular code for this website:
    <a class="demo__code-repo button button--link" href="https://github.com/jassi5887/finding-falcone" target="_blank">
      <b>Github: Finding Falcone</b>
    </a>
  </p>
</section>

<section class="demo">
  <h3 class="demo__title">4Pics 1word Replica</h3> 
  <p class="inline-info">
    It's a replica of a mobile game called <b>4 Pics 1 Word</b>. In this, one has to guess the word based on 
    4 pics on the screen.
  </p><br>
  <p class="underline">checkout the replica at <a class="button button--link" href="https://f4pics1wordreplica.herokuapp.com/" target="_blank"><b>4Pics1Word Replica</b></a></p><br>
  <p class="inline-info">
    skills to lookout for: <span class="timeline__highlight">html, css, angular</span>
  </p><br>
  <h3 class="demo__subtitle">Code Repo</h3> 
  <p class="inline-info">
    Please do have a look at angular code for this website:
    <a class="demo__code-repo button button--link" href="https://github.com/jassiJP/4pics1wordReplica" target="_blank">
      <b>Github: 4pics1wordReplica</b>
    </a>
  </p>
</section>