.demo {
  position: relative;

  &__header {
    box-shadow: none;
    padding: 0;
  }

  & p {
    margin: 2rem 0;
  }

  &__title {
    color: $color-primary;
    margin-bottom: 1rem;
  }

  &__subtitle {
    color: $color-grey-dark-2;
  }

  &:not(:first-child) {
    margin-top: 3rem;
  }

  &:last-child {
    margin-bottom: 10rem;
  }
  
  &__code-repo {
    display: block;
    margin-top: 2rem;
  }
}