<a routerLink="/home" routerLinkActive="left-bar__item--active" class="left-bar__item left-bar__item--svg">
  <img class="left-bar__image" src="assets/home2.svg" alt="home">
  <div class="left-bar__item__text">home</div>
</a>

<a routerLink="cover" routerLinkActive="left-bar__item--active" class="left-bar__item left-bar__item--svg">
  <img class="left-bar__image" src="assets/file-text.svg" alt="angular">
  <div class="left-bar__item__text">cover</div>
</a>

<a routerLink="/timeline" routerLinkActive="left-bar__item--active" class="left-bar__item left-bar__item--svg">
  <img class="left-bar__image" src="assets/user-tie.svg" alt="professional timeline">
  <div class="left-bar__item__text">professsional</div>
</a>

<a routerLink="angular" routerLinkActive="left-bar__item--active" class="left-bar__item">
  <img class="left-bar__image" src="assets/angular.png" alt="angular">
  <div class="left-bar__item__text">angular</div>
</a>

<a routerLink="nodejs" routerLinkActive="left-bar__item--active" class="left-bar__item">
  <img class="left-bar__image" src="assets/node.png" alt="nodejs">
  <div class="left-bar__item__text">node.js</div>
</a>

<a routerLink="javascript" routerLinkActive="left-bar__item--active" class="left-bar__item">
  <img class="left-bar__image" src="assets/js.png" alt="javascript">
  <div class="left-bar__item__text">javascript</div>
</a>

<a routerLink="css" routerLinkActive="left-bar__item--active" class="left-bar__item">
  <img class="left-bar__image" src="assets/css.png" alt="css">
  <div class="left-bar__item__text">css</div>
</a>

<a routerLink="bootstrap" routerLinkActive="left-bar__item--active" class="left-bar__item">
  <img class="left-bar__image" src="assets/bootstrap.png" alt="bootstrap">
  <div class="left-bar__item__text">bootstrap</div>
</a>

<a routerLink="html" routerLinkActive="left-bar__item--active" class="left-bar__item">
  <img class="left-bar__image" src="assets/html.png" alt="html">
  <div class="left-bar__item__text">html</div>
</a>